{% extends "portal/base.html" %}
{% load i18n %}
{% block title %}{% trans "Choose a new password" %}{% endblock %}
{% block main %}
  <h1>{% trans "Choose a new password" %}</h1>
  <form method="post" class="portal__form" novalidate>
    {% csrf_token %}
    {% for field in form %}
      <div class="field">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% for error in field.errors %}<div class="error">{{ error }}</div>{% endfor %}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn--primary btn--block">{% trans "Save it" %}</button>
  </form>
  <p class="portal__foot">
    {% trans "Signing in anywhere else with the old password will stop working." %}
  </p>
{% endblock %}
